<div class="terms-container h-full flex flex-col justify-center items-center bg-[#20493C] text-white px-4">
  <div class="max-w-3xl w-full px-6 py-8">
    <h1 class="text-3xl font-bold mb-4">Conditions Générales d'Utilisation</h1>
    <p class="mb-4">Veuillez lire attentivement les conditions générales suivantes. En utilisant notre application, vous acceptez ces conditions.</p>

    <h2 class="text-xl font-semibold mt-4">1. Introduction</h2>
    <p class="mb-4">Ces conditions générales régissent l'utilisation de notre application. En accédant à notre application, vous acceptez d'être lié par ces conditions.</p>

    <h2 class="text-xl font-semibold mt-4">2. Modifications des Conditions</h2>
    <p class="mb-4">Nous nous réservons le droit de modifier ces conditions à tout moment. Les modifications entreront en vigueur dès leur publication sur cette page.</p>

    <h2 class="text-xl font-semibold mt-4">3. Utilisation de l'Application</h2>
    <p class="mb-4">Vous acceptez d'utiliser l'application uniquement à des fins légales et conformément aux conditions générales.</p>

    <h2 class="text-xl font-semibold mt-4">4. Responsabilités</h2>
    <p class="mb-4">Nous ne serons pas responsables des dommages directs ou indirects résultant de l'utilisation de l'application.</p>

    <h2 class="text-xl font-semibold mt-4">5. Contact</h2>
    <p class="mb-4">Pour toute question concernant ces conditions générales, veuillez nous contacter à <a href="mailto:support&#64;urbanroots.com" class="text-[#B7FA61]">support&#64;urbanroots.com</a>.</p>

    <div class="mt-6">
      <a (click)="goBack()" class="bg-[#B7FA61] text-black py-2 px-6 rounded-full shadow hover:bg-[#A1E555] transition duration-300 ease-in-out">
        Retour
      </a>
    </div>


  </div>
</div>
