/* leaflet-carte.component.css */

/* Styles globaux */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Conteneur principal */
.relative {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Conteneur de la carte */
#map {
  height: 100%; /* Utilise tout l'espace restant après les autres éléments */
}

/* Barre de navigation ou pied de page */
app-bottom-bar {
  background-color: #f8f9fa; /* Couleur de fond */
  padding: 10px;
  text-align: center;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}
