<!-- test.component.html -->
<div>
  <form (ngSubmit)="applyFilters()">
    <label for="typeprojet">Type de Projet:</label>
    <select id="typeprojet" [(ngModel)]="selectedTypeProjet" name="typeprojet">
      <option value="">Tous</option>
      <option *ngFor="let type of typesProjets" [value]="type">{{ type }}</option>
    </select>

    <label for="typeactivite">Type d'Activité:</label>
    <select id="typeactivite" [(ngModel)]="selectedTypeActivite" name="typeactivite">
      <option value="">Tous</option>
      <option *ngFor="let type of typesActivites" [value]="type">{{ type }}</option>
    </select>

    <button type="submit">Appliquer les filtres</button>
  </form>

  <div id="map" style="height: 500px;"></div>
</div>
