<div class="bg-[#20493C] text-white p-8 min-h-screen flex flex-col justify-center items-center">
  <!-- Section Profil Utilisateur -->
  <div class="flex flex-col items-center text-center mb-6">
    <h2 class="text-3xl font-extrabold mb-2">{{ user.username }}</h2>
    <p class="text-lg text-gray-300">{{ user.email }}</p>
  </div>

  <!-- Bio Section -->
  <p id="bioText" class="mb-6 text-center text-gray-200 italic">
    {{ bioText }}
  </p>

  <!-- Boutons de Déconnexion -->
  <div class="max-w-md text-center">
    <button class="flex items-center bg-[#A0F9A4] text-[#003B2F] rounded-lg p-4 w-full hover:bg-[#8BFF8D] transition-colors duration-300 shadow-md hover:shadow-lg" (click)="logout()">
      <div class="mr-3 text-xl"><i class="fas fa-sign-out-alt"></i></div>
      <span class="text-base font-semibold">Déconnexion</span>
    </button>
  </div>
</div>

<app-bottom-bar></app-bottom-bar>
