<div class="bg-[#004D3D] text-white rounded-xl p-8 w-96 mx-auto mt-20 shadow-lg">
  <!-- Section Profil Utilisateur -->
  <div class="flex flex-col items-center text-center mb-6">
    <h2 class="text-2xl font-bold mb-2">{{ user.username }}</h2>
    <p class="text-sm text-gray-200">{{ user.email }}</p>
  </div>

  <!-- Bio Section -->
  <p class="mb-6 text-center text-gray-100">
    Voici ma bio. Merci de prendre le temps de la lire, cela compte beaucoup pour moi.
  </p>

  <!-- Boutons de Paramètres -->
  <div class="rounded-lg">
    <button class="flex items-center mb-4 bg-[#B7FA61] text-[#004D3D] rounded-lg p-3 w-full hover:bg-[#A3E754] transition duration-300">
      <div class="mr-4 text-2xl"><i class="fas fa-cog"></i></div>
      <div>
        <h3 class="text-sm font-bold">Paramètres</h3>
      </div>
    </button>

    <button class="flex items-center mb-4 bg-[#B7FA61] text-[#004D3D] rounded-lg p-3 w-full hover:bg-[#A3E754] transition duration-300">
      <div class="mr-4 text-2xl"><i class="fas fa-book"></i></div>
      <div>
        <h3 class="text-sm font-bold">Langue</h3>
      </div>
    </button>

    <!-- Bouton de Déconnexion -->
    <button class="flex items-center bg-[#B7FA61] text-[#004D3D] rounded-lg p-3 w-full hover:bg-[#A3E754] transition duration-300" (click)="logout()">
      <div class="mr-4 text-2xl"><i class="fas fa-sign-out-alt"></i></div>
      <span class="cursor-pointer text-sm font-bold">Déconnexion</span>
    </button>
  </div>
</div>

<app-bottom-bar></app-bottom-bar>
