<!-- src/app/pages/quiz/quiz.component.html -->

<div class="join-us h-full flex flex-col items-center justify-center bg-[#20493C] p-4">
  <h1 class="text-2xl font-semibold text-[#B7FA61] text-center mb-4">Quiz sur le Jardinage Durable</h1>

  <!-- Barre de progression -->
  <div class="w-full max-w-md bg-white rounded-full h-3 mb-8 relative">
    <div class="bg-gradient-to-r from-[#B7FA61] to-[#8DC23E] h-3 rounded-full shadow-md" [style.width]="progressWidth">
    </div>
    <div class="absolute top-0 bottom-5 left-0 h-full w-full rounded-full border border-[#B7FA61]"></div>
    <!-- Numéro de la question -->
    <div class="w-full flex justify-between px-2 text-sm font-medium text-[#B7FA61]">
      <span>Question {{ currentIndex + 1 }} sur {{ questions.length }}</span>
    </div>
  </div>


  <div *ngIf="!quizCompleted" class="w-full max-w-md text-left">
    <div class="mb-8">
      <h2 class="text-xl font-semibold mb-4 text-[#B7FA61]">{{ currentQuestion.text }}</h2>
      <div *ngFor="let option of currentQuestion.options" class="mb-4 flex items-center">
        <input type="radio" id="{{ option }}" name="question" [value]="option" [(ngModel)]="answers[currentIndex]"
          required class="hidden peer">
        <label for="{{ option }}"
          class="flex w-full items-center cursor-pointer p-4 bg-gray-700 text-white rounded-lg border border-gray-600 transition duration-200 hover:bg-gray-600 peer-checked:bg-green-500 peer-checked:border-green-500">
          <span class="mr-4 flex-shrink-0 h-6 w-6 rounded-full border border-gray-400 bg-gray-800"></span>
          {{ option }}
        </label>
      </div>
    </div>






    <!-- Boutons de navigation -->
    <div class="flex justify-between">
      <button (click)="prevQuestion()" [disabled]="currentIndex === 0"
        class="bg-[#B7FA61] text-white px-4 py-2 rounded">Précédent</button>
      <button *ngIf="currentIndex < questions.length - 1" (click)="nextQuestion()" [disabled]="!answers[currentIndex]"
        class="bg-[#B7FA61] text-white px-4 py-2 rounded">Suivant</button>
      <button *ngIf="currentIndex === questions.length - 1" (click)="submitQuiz()" [disabled]="!answers[currentIndex]"
        class="bg-[#B7FA61] text-white px-4 py-2 rounded">Soumettre</button>
    </div>
  </div>

  <div *ngIf="quizCompleted" class="w-full max-w-md text-left bg-[#20493C] text-white mt-4 p-4 rounded-lg">
    <h2 class="text-2xl font-bold mb-4 text-center">Résultats du Quiz</h2>
    <div *ngFor="let article of displayedArticles" class="mb-8">
      <h3 class="text-xl font-semibold mb-2">{{ article.title }}</h3>
      <p>{{ article.content }}</p>
    </div>
    <button (click)="resetQuiz()" class="bg-[#B7FA61] text-white px-4 py-2 rounded mt-4">Recommencer le Quiz</button>

    <!-- Cartes pour ressources supplémentaires -->
    <div class="w-full max-w-md text-white bg-[#20493C] mt-8 rounded-lg">
      <h2 class="text-2xl font-bold mb-6 text-center">Ressources Supplémentaires</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- Carte 1 -->
        <div class="text-white shadow-lg rounded-lg overflow-hidden w-full">
          <div class="h-32 w-full">
            <img src="../../../assets/img/img_jardin_2.jpg" alt="Image 2" class="w-full h-full object-cover">
          </div>
          <div class="p-4">
            <h3 class="text-lg font-semibold mb-2">Ressources Supplémentaires</h3>
            <p class="mb-4">Accédez à des ressources supplémentaires pour approfondir vos connaissances sur le jardinage
              durable.</p>
            <a [routerLink]="'/guide-interactif'" class="bg-[#B7FA61] text-white px-4 py-2 rounded inline-block">Voir
              Plus</a>
          </div>
        </div>

        <!-- Carte 2 -->
        <div class="text-white shadow-lg rounded-lg overflow-hidden w-full">
          <div class="h-32 w-full">
            <img src="../../../assets/img/img_jardin_1.jpg" alt="Image 3" class="w-full h-full object-cover">
          </div>
          <div class="p-4">
            <h3 class="text-lg font-semibold mb-2">Conseils Pratiques</h3>
            <p class="mb-4">Trouvez des conseils pratiques pour améliorer l'efficacité de votre jardin et favoriser un
              jardinage durable.</p>
            <a [routerLink]="'/guide-interactif'" class="bg-[#B7FA61] text-white px-4 py-2 rounded inline-block">Accéder
              aux Conseils</a>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
