<!-- src/app/pages/quiz/quiz.component.html -->

<div class="join-us h-screen flex flex-col items-center justify-center bg-[#20493C] p-4">
  <h1 class="text-2xl font-semibold text-[#B7FA61] text-center mb-4">Quiz sur le Jardinage Durable</h1>

  <!-- Barre de progression -->
  <div class="w-full max-w-md bg-gray-200 rounded-full h-2.5 mb-4">
    <div class="bg-[#B7FA61] h-2.5 rounded-full" [style.width]="progressWidth"></div>
  </div>

  <div *ngIf="!quizCompleted" class="w-full max-w-md text-left">
    <div class="mb-8">
      <h2 class="text-xl font-semibold mb-2 text-[#B7FA61]">{{ currentQuestion.text }}</h2>
      <div *ngFor="let option of currentQuestion.options" class="mb-2 flex items-center">
        <input type="radio" name="question" [value]="option" [(ngModel)]="answers[currentIndex]" required class="mr-2">
        <label class="block text-white">{{ option }}</label>
      </div>
    </div>

    <!-- Boutons de navigation -->
    <div class="flex justify-between">
      <button (click)="prevQuestion()" [disabled]="currentIndex === 0"
        class="bg-[#B7FA61] text-white px-4 py-2 rounded">Précédent</button>
      <button *ngIf="currentIndex < questions.length - 1" (click)="nextQuestion()" [disabled]="!answers[currentIndex]"
        class="bg-[#B7FA61] text-white px-4 py-2 rounded">Suivant</button>
      <button *ngIf="currentIndex === questions.length - 1" (click)="submitQuiz()" [disabled]="!answers[currentIndex]"
        class="bg-[#B7FA61] text-white px-4 py-2 rounded">Soumettre</button>
    </div>
  </div>

  <div *ngIf="quizCompleted" class="w-full max-w-md text-left bg-[#20493C] text-white mt-4 p-4 rounded-lg">
    <h2 class="text-2xl font-bold mb-4 text-center">Résultats du Quiz</h2>
    <div *ngFor="let article of displayedArticles" class="mb-8">
      <h3 class="text-xl font-semibold mb-2">{{ article.title }}</h3>
      <p>{{ article.content }}</p>
    </div>
    <button (click)="resetQuiz()" class="bg-[#B7FA61] text-white px-4 py-2 rounded mt-4">Recommencer le Quiz</button>

    <!-- Cartes pour ressources supplémentaires -->
    <div class="w-full max-w-md text-white bg-[#20493C] mt-8 rounded-lg">
      <h2 class="text-2xl font-bold mb-6 text-center">Ressources Supplémentaires</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- Carte 1 -->
        <div class="text-white shadow-lg rounded-lg overflow-hidden">
          <div class="bg-[#B7FA61] h-32 flex items-center justify-center">
            <img src="path/to/image2.jpg" alt="Image 2" class="w-16 h-16 object-cover">
          </div>
          <div class="p-4">
            <h3 class="text-xl font-semibold mb-2">Ressources Supplémentaires</h3>
            <p class="mb-4">Accédez à des ressources supplémentaires pour approfondir vos connaissances sur le jardinage durable.</p>
            <a [routerLink]="'/guide-interactif'" class="bg-blue-500 text-white px-4 py-2 rounded inline-block">Voir Plus</a>
          </div>
        </div>

        <!-- Carte 2 -->
        <div class="text-white shadow-lg rounded-lg overflow-hidden">
          <div class="bg-blue-200 h-32 flex items-center justify-center">
            <img src="path/to/image3.jpg" alt="Image 3" class="w-16 h-16 object-cover">
          </div>
          <div class="p-4">
            <h3 class="text-xl font-semibold mb-2">Conseils Pratiques</h3>
            <p class="mb-4">Trouvez des conseils pratiques pour améliorer l'efficacité de votre jardin et favoriser un jardinage durable.</p>
            <a [routerLink]="'/guide-interactif'" class="bg-blue-500 text-white px-4 py-2 rounded inline-block">Accéder aux Conseils</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
