<!-- app/components/bottom-bar/bottom-baer.component.html -->

<div class="fixed bottom-0 w-full flex justify-around bg-green-700 text-white p-4 shadow-lg">
  <button class="flex flex-col items-center focus:outline-none" (click)="navigateTo('home')">
    <i class="fas fa-home text-xl"></i>
    <span>Accueil</span>
  </button>
  <button class="flex flex-col items-center focus:outline-none" (click)="navigateTo('forum')">
    <i class="fas fa-comments text-xl"></i>
    <span>Forum</span>
  </button>
  <button class="flex flex-col items-center focus:outline-none" (click)="navigateTo('profile')">
    <i class="fas fa-user text-xl"></i>
    <span>Profil</span>
  </button>
</div>
