/* Styles for cluster icons */

body {
  background-color: #20493C;
}

.cluster-icon {
  background-color: marker-icon;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
}


.leaflet-popup-tip {
  display: none !important;
}


