<div class="welcome-screen h-screen flex flex-col justify-between items-center bg-[#20493C]">
  <!-- Logo -->
  <div class="flex-grow flex items-center justify-center desktop:center">
    <img src="../../../assets/img/logo_urbanroots.png" alt="Logo" class="w-24 h-44">
  </div>

  <!-- Content -->
  <div class="bg-black rounded-t-3xl w-full text-center py-8 px-4">
    <h1 class="text-3xl font-bold text-white">Urban Roots</h1>
    <p class="mt-4 text-white">Le jardinage urbain crée des espaces verts, renforce la communauté et promeut des pratiques éco-responsables.</p>
    <button (click)="nextScreen()" class="mt-6 bg-[#E7FAE6] text-black rounded-full py-2 px-4 text-lg">Découvrir l'app</button>
  </div>
</div>
